# IntelliJ IDEA
.idea/
*.iml

# Build
/target/
/build/

# Logs
*.log

# Allure results and reports
/allure-results/
/allure-report/
/allure-report-history/
/reports/
/downloads/

# OS files
.DS_Store

# Java
*.class

# Maven wrapper
.mvn/
